@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

/* constants */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav-links{
    color: #81c784;
    font-weight: 500;
}
.text-sm{
    font-size: 1em;
    line-height: 1.5em;
}

.text-md{
    font-size: 1.5em;
}

.text-lg{
    font-size: 2.2em;
    line-height: 3rem;
}

.text-xl{
    font-size: 3em;
}

.text-2xl{
    font-size: 5em;
}

/* end of constants */

nav ul {
    display: flex;
}
#nav{
    position: absolute;
    top: 0;left: 0;
   width: 100%;
    padding: 1rem 1.5rem;
    /* flex-direction: column; */
    background-color: #f5f5f5;
    
}
.nav-list{
    display: none;
}
.hamburger {
    /* display: block;
    cursor: pointer;
    margin-left: 40px; */
    /*  */
    order: 1;
    font-size: 4vh;
    padding-right: 6vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0.5rem;
    left: 22.5rem;
}
.bar1{
    height: 2px;
    width: 20px;
    background-color: black;
    border-radius: 2rem;
    margin: 4px 0;
}
.bar2{
    height: 2px;
    width: 30px;
    background-color: black;
    border-radius: 2rem;
    margin: 4px 0;
}
.bar3{
    height: 2px;
    width: 20px;
    background-color: black;
    border-radius: 2rem;
    margin: 4px 0;
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.nav-list.active{
    display: flex;
    flex-direction: row;
    animation: fadeEffect 2s;
}
.nav-list li{
    padding: 0 1rem;
}
.brand-name.active{
    display: none;
}
.hamburger.active .bar2 {
opacity: 0;
}

.hamburger.active .bar1 {
    width: 30px;
transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar3 {
    width: 30px;
transform: translateY(-8px) rotate(-45deg);
}
/* -----------tablet view----------- */
@media only screen and (min-width: 540px) {
    .hamburger{
        position:absolute;
        left: 30rem;
    }
}

/* -----------laptop view-------- */
@media only screen and (min-width: 1024px) {
    .hamburger{
        display: none;
    }
    .nav-list{
        display: block;
        float: right;
        padding-right: 2rem;
        position: relative;
        bottom: 1rem;
    }
    .nav-list li{
        padding: 0 3rem;
    }
}

/* ------------------end of navbar------------ */
.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
    position: relative;
}
.grid1{
    background-color: #b8b8b8;
    padding: 1.2rem;
}
.grid2{
    background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");   
    position: relative;
}
.grid2::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
   
}

.hero-text{
    padding: 4rem 20px 0 35px;
    
}
.hello{
    font-size: 24px;
    font-weight: 400;  
}
.hero-name{
    font-size: 60px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}
.hero-rider{
    font-size: 29px;
}
.hero-text{
    font-size: 24px;
    font-weight: 400;
    
}
.hero-rider-text{

    font-size: 18px;
    line-height: 35px;
}
.social-icon{
    display: flex;
    margin-top: 3.4vh;
    
}.social-icon{
    display: flex;
    margin-top: 3.4vh;
    padding: 5px 15px 10px 15px;
}
.connect-icons{
    padding: 0 1.5rem;
    color: rgb(83, 83, 83);
}
#hire-me{
    margin-top: 35px;
    border: white;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    font-size: 18px;
    color: black;
    background: #b8b8b8;
    cursor: pointer;
    position: relative;
    left: 88%;
}
#aboutme-section{
    background-color: #f5f5f5;
   height: 460px;
   margin: 4rem 5rem 0 3rem ;
   text-align: center;
   font-size: 27px;
   border: 5px groove #444241;
   box-shadow: 7px 10px 4px -2px rgba(0,0,0,.2);

}
.aboutme-content{
   padding: 6rem 20px 0 35px;
   display: flex;
}

.me{
   position: relative;
   left: 8rem;
}
.circle{
   height: 270px;
   width: 270px;
   border-radius: 50%;

   border: 3px solid #444241;
}
.inner-circle{
   height: 250px;
   width: 250px;
   border: 3px solid #45526c;
   border-radius: 50%;
   position: relative;
   top: 6.5px;
   left: 8px;
   overflow: hidden;
}
.my-pic{
   height: 100%;
   width: auto;
  object-fit: contain;
  /* border-radius: 20%; */
  
}
.aboutme-text{
   position: relative;
   left: 21rem;
   height: 450px;
   width: 450px;
   border-radius: 50%;
   text-align: center;
   font-size: 22px;
}
#skill-section{
    margin: 6rem 2rem 0 5rem ;
    text-align: center;
}
.skill-header{
    color: #81c784;
    font-size: 38px;
    font-weight: 700;
}
.skill-underline{
    padding-top: 1rem;
    margin-left: 12rem;
    border-bottom: 0.2px solid #444241;
    width: 800px;
    
}
.skills-grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding-top: 2rem;
    margin-left: 3rem;
    width: 90%;
}
.skill{
    margin: 30px 0;
    width: 140px;
    height: 110px;
    padding: 20px ;
}
.skill-image{
    padding: 20px 0;
    width: 100px;
    height: 120px;
    object-fit: contain;
}
.skill-name{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.grid-container2{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 2rem;
}
#project-section{
    margin: 6rem 3rem 0 5rem ;
    background-color: #f5f5f5;
}
.my-projects{
    text-align: center;
    padding-top: 2rem;
    font-size: 32px;
    font-weight: 700;
}
.projects-underline{
    padding-top: 1rem;
    margin-left: 12rem;
    border-bottom: 0.2px solid #5aa897;
    width: 800px;
}
.card-container{
    -webkit-perspective: 500px;
            perspective: 500px;
            padding: 20px 5px 20px 0;
            margin: 30px 10px 30px 35px;
           
            
}
.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 270px;
    padding: 0;
    margin: 0;
    -webkit-transition: -webkit-transform 0.7s;
    transition: transform 1s;
   -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.front-card-content {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    color: black;
    text-align: center;
    position: relative;
}
.containers{
   padding: 20px 20px;
}
 .countdown-app{
    border-radius: 30px;
     width: inherit;
     height: inherit;
    object-fit: cover;
    opacity: 0.7;
}
.project-name{
    position: absolute;
    width: 90%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.project-details{
    text-decoration: underline;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.front-card-content, .back{
    position: absolute;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.links{
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15%;
}
.testlink{
    color: #f8f5f1;
}
.testlink:hover{
    color: black;
}
.back{
    
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    
     background-color: #5aa897;
}
.exp-section{
    margin: 6rem 2rem 7rem 5rem ;
}
.exp-intro{
    font-size: 18px;
}
.exp-header{
    text-align: center;
    color: #5aa897;
}
.exp-cards{
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px 0 0 4rem;
}
.exp-card{
    height: 250px;
    width: 300px;
    /* border: 2px solid #45526c;
    border-radius: 15px; */
    background-image: url('./spikes.png');
}
.exp-image{
    height: 200px;
    width: 310px;
    margin: 4px 0 0 0;
}
.genesys{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.exp-divider{
    border-bottom: 1px solid #343a40;
    position: relative;
    top:3%;
}
.exp-caption{
    position: relative;
    top: 4%;
    text-align: center;
}
#contact-section{
    background-color: #b8b8b8;
    margin-top: 4rem;
    height: 350px;
    color: #f8f5f1;
    
}
.contact{
   font-size: 34px;
   padding: 20px 0;
   text-align: center;
}
.contact-grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.email-phone{
    /* background-color: rebeccapurple; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 20px 0;
}
.phone{
    padding: 30px 0 30px 0; 
}
.email{
    padding-bottom: 30px;
}
.divider{
    border-left: 3.5px solid #f8f5f1;
    height: 200px;
    position:absolute;
    left: 45%;

}
.social-connect{
    /* background-color:white; */
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    padding: 0;
}
.connect{
    padding: 30px 0 0 20px;
    font-size: 34px;
}
.social-icons{
    display: flex;
    justify-content: space-between;
    /* background-color: aquamarine; */
    width: 390px;
}
.fab{
    color: #f8f5f1;
}
.fab:hover{
    color: black;
}
footer{
    background-color: #343a40;
    color: blanchedalmond;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}
